* {
  
  .warble {
  font-size: 4em;
  margin: 10px auto 0 auto;
  font-weight: 300;
  text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    .home {
      font-size: 2em;
      color: black;
    }
  }
}