* {
  input {
    margin-bottom: 20px;
  }
  .backdropStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(178, 178, 187, 0.479);
    .signupModal {
      background: white;
      width: 40%;
      margin: 50% auto;
      padding: 100px;
      box-shadow: 2px 2px 5px blue;
      position: relative;
      .closeButton {
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 3%;
      }
    }
  }
}